.zone {
    padding: 10px;
}

.inputArea {
    font-size: 20px;
    font-weight: bold;
}

.inputPosition {
    text-align: center;
    width: 30%;
    height: 100%;
}


#titleBox {
    width: 30%;
    height: 50px;
}

#dueBox {
    width: 30%;
    height: 30px;
}

#textBox {
    resize: none;
    width: 40%;
    height: 40px;
}

#submitButtonPosition {
    padding: 10px;
    width: 60%;
    text-align: center;
}

#submitButton {
    width: 15%;
    height: 40px;
    background-color: white;
    color: black;
}
#submitButton:hover {
    background-color: blanchedalmond;
}


.red_under_bar {
    width: 100px;
    border-bottom: 2px solid red;
}



#title {
    border-bottom: 2px solid black;
    width: 100%;
    padding: 0%;
}

#bar {
    display: flex;
}

.user {
    margin: auto;
    margin-top: 3%;
    font-weight: bold;
    font-size: large;
    padding-left: 70%;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

table tr:nth-child(odd){
    background-color: #eee;
}

table th {
    border-bottom: 2px solid #fb5144;
    padding: 10px 0;
}

table td {
    border-bottom: #ddd;
    padding: 10px 0;
}

