{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link href="{% static 'authtest/css/todo_design.css' %}" rel="stylesheet">
    <title>ToDo List</title>
</head>

<body>
    <div id="title">
        <div id="bar">
            <h1>ToDo List</h1>
            <p class="user">User: {{ user.username }}! <a href="{% url 'home' %}">[ Home ]</a></p>
        </div>
    </div>
    
    <form method="post" action="{% url 'todo_list' %}">
        {% csrf_token %}
        
        <div class="zone">
        <div class="red_under_bar">
            <label for="titleInput" class="inputArea">Title:</label>
        </div>
            <div class="inputPosition">
                <input type="text" name="title" placeholder="Input title..." id="titleBox">
            </div>
        </div>
        
        <div class="zone">
        <div class="red_under_bar">
            <label for="dueInput" class="inputArea">Due:</label>
        </div>
            <div class="inputPosition">
                <input type="date" name="due_date" id="dueBox">
            </div>
        </div>

        <div class="zone">
        <div class="red_under_bar">
            <label for="memoInput" class="inputArea">Memo:</label>
        </div>
            <div class="inputPosition">
                <textarea name="notes" placeholder="notes..." id="textBox"></textarea>
            </div>
        </div>
            <div id="submitButtonPosition">
                <button type="submit" name="add_todo" id="submitButton">Add ToDo Item</button>
            </div>
    </form>


    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Due</th>
                <th>Notes</th>
                <th>operation</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in todo_items %}
            <tr>
            <td><a href="{% url 'detail' todo_id=todo.id %}">{{ todo.title }}</a></td>
            <td>{% if todo.due_date %}{{ todo.due_date }}{% endif %}</td>
            <td>{% if todo.notes %}{{ todo.notes }}{% endif %}</td>
            <td>
                <form method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="delete_todo" value="{{ todo.id }}">
                    <button type="submit">Delete</button>
                </form>
            </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
<hr>
</body>
</html>